# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
crash.log
*.tfvars
*.tfvars.json
secrets.tfvars
secrets.auto.tfvars

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Express.js / Backend
/dist
/build
/tmp
/logs

# Docker
volumes/

# Subir archivos de ejemplo
!terraform.tfvars.example
!env.example
